# Python Virtual Environment
.venv/
venv/
env/

# Python Cache
__pycache__/
*.py[cod]
*.pyc

# Model Files (jika besar)
*.pkl
!app/model/xgb_model.pkl
*.joblib
*.h5
*.keras

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Data files (opsional)
data/
dataset/
*.csv